@media screen and (max-width: 1190px) {
 .navbar ul {
     display: none;
     display:none; 
 }
.dropContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    background: rgba(11, 11, 11, 0);
}
.dropContent a {
    text-decoration: none;
    color: black;
}

 .dropMenu {
    display: block;
    position: relative;
}

.dropMenu p {
    background: #5094f2;
    width: 50px;
    height: 42px;
    text-align: center;
    color: white;
    padding-top: 7px;
    cursor: pointer;
    border-radius: 7px;
}

.dropMenu:hover .dropContent {
    display:block;
}

.dropContent a:hover {
    color: #5094f2;
}

/* Iphone section */

.text {
    color: #5094f2;
    line-height: 1.2rem;
    width: 290px;
    padding-left: 100px;
    margin-top: 15px;
}
.text h2 {
    font-size: 30px;
    line-height: 1.6rem;
}

.text p{
    font-size: 22px;
    padding-bottom: 1rem;
    padding-top: 0.7rem;
   
}

.iphone {
    height: 243px;
}

.cellphone img {
    width: 172px;
    height: 214px;
    position: relative;
    top: 20px;
}

.btn {
    width: 200px;
    height: 45px;
    text-align: center;
    font-size: 28px;

}

.btn img {
    width: 30px;
    height: 30px;
}

/* Showcase */

.showcase {
    display: flex;
    flex-direction: column;
    align-items: center; /*dasdasdasdasdsadasdasdasdasdasdasdasdasddads*/
}
.blue, 
.red,
.orange {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0px 20px 15px;
    border-bottom: 1px solid grey;
}

.img {
    width: 134px;
    height: 134px;
    border-radius: 50%;
    display: flex;
}

.img img {
   width: 50%;
   height: 50%;
}

.txt {
    text-align: left;
    margin-left: 20px;
    line-break: 30rem;
}

.showcase h4 {
    font-size: 22px;
}

.showcase p{
    font-size: 17px;
}

/* Shopping Cart */

.shopping {
    display: flex;
    flex-direction: column;
    margin-top: 37px;
    align-items: center;
}

}

@media screen and (max-width: 525px) {
    
    .cellphone img {
        width: 150px;
        height: 200px;
        position: relative;
        top: 20px;
        left: 10px;
    }
    
    .text h2 {
        font-size: 25px;
        line-height: 1rem;
    }
    
    .text p{
        font-size: 17px;
        padding-bottom: 1rem;
        padding-top: 0.5rem;
       
    }
    .btn {
        width: 150px;
        height: 45px;
        text-align: center;
        font-size: 20px;
    
    }

    .shopText {
        width: 80%;
        text-align: center;
    }
    .pic h2 {
        text-align: center; 
    }

    .pic img {
        width: 95%;
        text-align: center;
    }
}